body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F0ECE5;
}

.card {
    margin: 18px;
    display: flex;
    align-items: center;
}

.btn {
    background-color: #31304D;
    border-color: #31304D;
}

.btn:hover {
    background-color: #161A30;
    border-color: #161A30;
}

.name {
    text-align: center;
}